/*Resets start*/
*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
input:not([type="checkbox"]), button {
	appearance: none;
	border: none;
	outline: none;
	background: none;
	cursor: initial;
}
/*Resets finsih*/
/**/
/**/
/* CSS for headings and body*/
body {
    background: rgba(235, 229, 229, 0.774);
    color: rgb(0, 0, 0);
}
section{
    margin-top: 30px;
    margin-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
}
h2{
    font-weight: 200;
}

#name{
    font-size: 24px;
    min-width: 0;
}
h4{
    color:rgb(58, 57, 57);
    padding-bottom: 8px;

}
/*CSS for the New task section*/
.createTask input[type="text"] {
	display: block;
	width: 100%;
	font-size: 15px;
	padding: 10px 20px;
	color: rgb(5, 5, 5);
	background-color: #FFF;
	border-radius: 8px;
	margin-bottom: 20px;
}
/*CSS for submit button*/
.createTask input[type="submit"]{
    display: block;
    width: 100%;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 6px;
    color:#FFF;
    box-shadow: rgba(80, 127, 214, 0.966);
    background-color: rgba(67, 124, 230, 0.884);
    font-weight: bold;
    cursor:pointer;
    transition: 0.2s ease-out
    
}
.createTask input[type="submit"]:hover{
opacity: 0.75;
}
/*CSS for task items*/
.taskList .taskItem{
    display: flex;
    align-items: center;
    font-size: 15px;
	padding: 10px 20px;
	color: rgb(5, 5, 5);
	background-color: #FFF;
	border-radius: 8px;
	margin-bottom: 20px;
}
.taskItem label{
    display:block;
    margin-right:10px;
    cursor: pointer;
}
.taskItem .taskContent{
    flex: 1 1 0%
}

/* CSS for the action buttons (edit & delete)*/
.taskItem .actions button{
    display: block;
    border-radius: 8px;
    padding: 10px;
    cursor: pointer;
    background-color: rgba(67, 124, 230, 0.884);
    font-weight: 700;
    color: #FFF;
    opacity: 1;
    transition :0.2s ease-out

}
.taskItem .actions button:hover{
opacity: 0.75;
}
.taskItem .actions .edit{
    margin-right: 6px
}
.taskItem .actions{
    display: flex;
    align-items: center;
}
/*CSS for adding a line through the task when it has been completed (Checked)*/
.taskItem.done .taskContent input {
    text-decoration: line-through;
    color: grey
}
/*CSS for text size of todo list*/
.taskContent input[type="text"] {
    font-size: medium;
}